body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color:#0c2461;
}


.box{
  width:300px;
 padding:40px;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 background: rgba(0,0,0,.8);
 text-align: center;


}


.select{
  color:white;
  background:
}

input{
  padding:20px;
}


.box .inputbox input{
  color:white;
  outline:none;
  background:transparent;
  border: 0;
  outline: 0;
  padding:0 10px;
  border-bottom: 2px solid white;
  font-size: 1.4rem;
  color: #ccc;
}



label:hover{
  color:#0c2461;
  transition: 0.50s;
}


h1:hover{
  color:#0c2461;
  transition: 0.50s;
}


a{
text-decoration:none;
color:#0c2461;
}
h1{
  margin:0 0 30px;
  padding:0;
  color:white;
  text-align:center;
}


label{
  top:10px
  left:0;
  color:white;
  font-size: 18px;
}

.box input[type="text"],input[type="password"],input[type="number"]{
  background:none;
  display: block;
  text-align:left;
  padding:9px 10px ;
  outline:none;
  color:white;
  transition:0.25s;
}


input[type="submit"] {
  background: transparent;
  border :none;
  outline:none;
  color:#fff;
  background:#0c2461;
  padding:10px 20px;
  cursor:pointer;
  boder-radius:5px ;
}
